In [32]:
import pandas as pd
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [39]:
data=pd.read_csv('/home/jupyter-d.fomicheva-1/Untitled Folder/problem2.csv', sep=';')

In [40]:
#short representation of data
df=data.groupby(['testgroup'],as_index=False).agg({'revenue':'sum','user_id':'count'})

In [41]:
#avg revenue per user
df['avg']=(df.revenue/df.user_id).round(3)

In [42]:
df

  testgroup  revenue  user_id     avg
0         a  5136189   202103  25.414
1         b  5421603   202667  26.751

In [16]:
from scipy.stats import ttest_ind

In [19]:
#split data into two dataframe for statistical analysis
data1=data.query('testgroup=="a"')
data2=data.query('testgroup=="b"')

In [29]:
#p-value in t test
stat, p = ttest_ind(data1['revenue'], data2['revenue'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=-0.624, p=0.532

In [34]:
#standard deviation in group a
np.std(data1['revenue'])

920.7658588630362

In [35]:
#standard deviation in group b
np.std(data2['revenue'])

287.32345281061845

In [45]:
#average bill in group a
data1['revenue'].sum()/1928

2663.9984439834025

In [46]:
#average bill in group b
data2['revenue'].sum()/1805

3003.6581717451522